@model IEnumerable<BerrasCinema.Models.Movies>

@{
    ViewData["Title"] = "Available Movies";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MovieID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
