@model BerrasCinema.Models.Order

@{
    ViewData["Title"] = "Error";
}
<div>
    <h1>Error no seats left or to meny tickets purchased!</h1>
</div>
<div>
    <a asp-action="Index">Back to Book Tickets</a>
</div>
